footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.right {
  margin-top: 10px;
}

.links a{
    color: rgb(112, 112, 112);
}