.valeurs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  line-height: 1.6;
}

.valeurs h1 {
  font-size: 2rem;
}

.valeurs p {
  font-size: 1rem;
}


.valeurs strong{
    text-decoration: underline;

}